.card-text {
    text-align: justify;
}

.description {
    font-weight: 400;
}

.card-header {
    font-weight: 600;
}

.card-image {
    float: left;
}

.card-title {
    margin-top: 10px;
}

.card-body {
    padding: 0;
}

.save-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

img {
    max-height: 190px;
}

/* Card flip animation */
/* background: #4b7ab8; */
.card {
    perspective: 800;
    -moz-perspective: 800;
    -webkit-perspective: 800;
    margin: 1em auto;
    width: 100%;
    border: solid 1em white;
    border-radius: 0.5em;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 1em black;
}

.card.is-flipped {
    transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
}

.card .face {
    padding: 1em;
    text-align: center;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card .front {
    background: #4b7ab8;
    color: black;
    display: block;
}

.card.is-flipped .front {
    display:none;
}

.card .back {
    background: #4b7ab8;
    color: black;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    display:none;
}

.card.is-flipped .back {
    display:block;
}